.main-header{
  background-color: #c1b7ae;
  height: 200px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
img{
  width: 100%;
}

main{
  margin: auto;
}

#regatta-search-form,
.weatherWrapper{
  margin-top: 30px;
}



.response{
  margin-top: 15px;
  /*background-color: rgba(149, 233, 147, 0.55);*/
  border-radius: 10px;
  border-bottom: 1px solid grey;
}

.spinner{
  display: none;
  color: lightblue;
}

section h6,
section h5{
  margin: 5px;
  padding: 0;
}

h5.col-sm-11{
  text-decoration: underline;
  padding: 0;
}

a{
  cursor: pointer;
}
